body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(76, 87, 121);
}
.custom-file-upload 
{
    display: inline-block;
    padding: 10px 10px;
    background-color: #c0392b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] 
{
    display: none;
}