body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.margin {
    background-color: skyblue;
    padding: 2px;
}

.border {
    background-color: rgb(23, 213, 203);
    padding: 50px;
    border: 5px solid white;
}


.padding {
    background-color: lightgreen;
    padding: 100px;
    
}

.content {
    background-color: lightyellow;
    padding: 100px;
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff0000;
}